.context {
    max-width: 375px;
}

.time-interval-setting {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

@media (max-width: 1000px) {
    .time-interval-setting {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}