@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
}

#root {
  /* transform: scale(1.5); */
  transform-origin: top;
}

@media (max-width: 1200px) {
  #root {
    /* transform: scale(1.3); */
  }
}